FEAT/obj/x86/Debug/FEAT.csproj.FileListAbsolute.txt
FEAT/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FEAT/obj/x86/Debug/FEAT.pdb
FEAT/bin/Debug/ETC1.dll
FEAT/bin/Debug/FEAT.vshost.exe
.vs/FEAT/v14/.suo
FEAT/obj/x86/Debug/FEAT.exe
FEAT/obj/x86/Debug/Fire_Emblem_Awakening_Archive_Tool.Properties.Resources.resources
FEAT/bin/Debug/FEAT.exe
FEAT/bin/Debug/FEAT.pdb
FEAT/obj/x86/Debug/Fire_Emblem_Awakening_Archive_Tool.Form1.resources
FEAT/obj/x86/Debug/FEAT.csprojResolveAssemblyReference.cache
FEAT/obj/x86/Debug/FEAT.csproj.GenerateResource.Cache
FEAT/bin/Debug/FEAT.vshost.exe.manifest